#submenu-curriculum{
    display:none;
}
#submenu-carta{
    display:none;
}

#curriculum-form{
    display:none;
}

#cartaApresentacao-form{
    display: none;
}

.sub-form{
    display: none;
}

select option{
    font-size: 16px;
}

.lateral{
    height:500px;
}

